
<div class="container my-5">
    <div class="row my-4" [hidden]="uploadingFile">
        <div class="col-lg-9 pb-2">
            <h3>Upload Your 3D File</h3>
        </div>
        <div class="col-lg-3">
            <select name="method" (change)="changeMethod()" [(ngModel)]="selectedValue" class="form-control">
                <option value="cadex" selected="selected">Use CadExchanger SDK</option>
                <option value="python">Use Meshing with Python</option>
            </select>
        </div>
    </div>
    
    <div class="row" [hidden]="uploadingFile" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <label for="fileUpload" class="drop-container" id="dropcontainer">
            <span class="drop-title">Drop file here</span>
            or
            <input multiple="multiple" #fileUpload type="file" (change)="upload3dfile($event)" id="fileUpload" accept='.stp,.stl,.STL,.step,.catpart,.igs,.prt,.sat,.sldprt,.x_t,.STP,.STEP,.CATPART,.IGS,.PRT,.SAT,.SLDPRT,.X_T'>
        </label>
        <div class="py-4 text-center">
            <strong>Allowed Files:- </strong>{{allowFiles}}
        </div>
    </div>

    <div class="row">
        <div class="w-100 bg-white display-1 d-flex align-items-center justify-content-center flex-column" *ngIf="uploadingFile">
            <div [hidden]="uploadStatus == 'Computing'"><i class="fa-light fa-cloud-arrow-up fa-flip"></i></div>
            <div *ngIf="uploadStatus == 'Computing'"><i class="fa-light fa-laptop-binary fa-beat-fade"></i></div>
            <div class="display-6 mt-5">{{uploadStatus}} ...</div>
        </div>
    </div>
</div>