<div class="row">
    <div class="col-4 my-3">
        <label class="form-label">First Name</label>
        <span class="text-danger ps-3"
            *ngIf="!validateFirstNameMessage.validation">{{validateFirstNameMessage.message}}</span>
        <input type="text" [(ngModel)]="user.first_name" autocomplete="false" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Last Name</label>
        <span class="text-danger ps-3"
            *ngIf="!validateLastNameMessage.validation">{{validateLastNameMessage.message}}</span>
        <input type="text" [(ngModel)]="user.last_name" class="form-control form-control" />
    </div>
    <div class="col-4 my-3" *ngIf="authService.isSuperAdmin()">
        <label class="form-label">Email</label>
        <span class="text-danger ps-3"
            *ngIf="!validateEmailMessage.validation">{{validateEmailMessage.message}}</span>
        <input type="text" [(ngModel)]="user.email" class="form-control form-control" />
    </div>
    <div class="col-4 my-3" *ngIf="!authService.isSuperAdmin()">
        <label class="form-label">Email</label>
        <span style="background: #dadada;cursor: not-allowed;" class="form-control form-control">{{user.email}}</span>
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Secondary Email</label>
        <input type="text" [(ngModel)]="user.secondary_email" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Phone</label>
        <input type="text" [(ngModel)]="user.phone" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Secondary Phone</label>
        <input type="text" [(ngModel)]="user.secondary_phone" class="form-control form-control" />
    </div>
    <div class="col-4 my-3" *ngIf="authService.isSuperAdmin()">
        <label class="form-label">Role</label>
        <select class="form-select" name="role" [(ngModel)]="user.role_id" required>
            <ng-container *ngFor="let role of roles | keyvalue">
                <option *ngIf="isNumber(role.key)" [value]="role.key">{{[role.value]}}</option>
            </ng-container>
        </select>
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Age</label>
        <select class="form-select" name="age" [(ngModel)]="user.age">
            <option *ngFor="let age of ageList" [value]="age">{{age}}</option>
        </select>
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Designation</label>
        <input type="text" [(ngModel)]="user.designation" class="form-control form-control" />
    </div>
    
    <div class="col-4 my-3">
        <label class="form-label">Company</label>
        <input type="text" [(ngModel)]="user.company" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Address</label>
        <input type="text" [(ngModel)]="user.address" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Country</label>
        <input type="text" [(ngModel)]="user.country" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">ZIP</label>
        <input type="text" [(ngModel)]="user.zip" class="form-control form-control" />
    </div>
    <div class="d-flex align-items-center mt-5">
        <button class="btn btn-success btn-block" type="button" (click)="submitForm()">Update User</button>
        <p [ngClass]="resultStatus.success == false ? 'text-danger' : 'text-success'" class=" ps-3">{{resultStatus.message}}</p>
    </div>
</div>