<div class="row" *ngIf="!isAddingClient">
    <div class="col-4 my-3">
        <label class="form-label">First Name</label>
        <span class="text-danger ps-3"
            *ngIf="!validateFirstNameMessage.validation">{{validateFirstNameMessage.message}}</span>
        <input type="text" autocomplete="false" [(ngModel)]="user.first_name" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Last Name</label>
        <span class="text-danger ps-3"
            *ngIf="!validateLastNameMessage.validation">{{validateLastNameMessage.message}}</span>
        <input type="text" autocomplete="false" [(ngModel)]="user.last_name" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Email</label>
        <span class="text-danger ps-3" *ngIf="!validateEmailMessage.validation">{{validateEmailMessage.message}}</span>
        <input type="text" autocomplete="false" [(ngModel)]="user.email" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Secondary Email</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.secondary_email" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Phone</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.phone" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Secondary Phone</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.secondary_phone" class="form-control form-control" />
    </div>
    <div class="col-4 my-3" *ngIf="authService.isSuperAdmin()">
        <label class="form-label">Role</label>
        <select class="form-select" name="role" [(ngModel)]="user.role_id" required>
            <ng-container *ngFor="let role of roles | keyvalue">
                <option *ngIf="isNumber(role.key)" [value]="role.key">{{[role.value]}}</option>
            </ng-container>
        </select>
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Age</label>
        <select class="form-select" name="age" [(ngModel)]="user.age">
            <option *ngFor="let age of ageList" [value]="age">{{age}}</option>
        </select>
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Designation</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.designation" class="form-control form-control" />
    </div>

    <div class="col-4 my-3">
        <label class="form-label">Company</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.company" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Address</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.address" class="form-control form-control" />
    </div>
    <div class="col-4 my-3">
        <label class="form-label">Country</label>
        <select class="form-select" name="role" [(ngModel)]="user.country">
            <ng-container *ngFor="let cont of country">
                <option [value]="cont.name">{{cont.name}}</option>
            </ng-container>
        </select>
    </div>
    <div class="col-4 my-3">
        <label class="form-label">ZIP</label>
        <input type="text" autocomplete="false" [(ngModel)]="user.zip" autocomplete="false" class="form-control form-control" />
    </div>
    <div class="col-4 my-3" *ngIf="authService.isSuperAdmin()">
        <label class="form-label">Password</label>
        <span class="text-danger" *ngIf="!validatePasswordMessage.validation">{{validatePasswordMessage.message}}</span>
        <input type="password" autocomplete="false" [(ngModel)]="user.password" class="form-control form-control" />
    </div>
    <div class="col-4 my-3" *ngIf="authService.isSuperAdmin()">
        <label class="form-label">Confirm Password</label>
        <span class="text-danger" *ngIf="!validateCPasswordMessage.validation">{{validateCPasswordMessage.message}}</span>
        <input type="password" autocomplete="false" [(ngModel)]="cPassword" class="form-control form-control" />
    </div>
    <div class="d-flex align-items-center mt-5">
        <button class="btn btn-dark btn-lg btn-block" type="button" (click)="submitForm()">Create User</button>
    </div>
    <div class="col-12 my-3" *ngIf="authService.isSuperAdmin()">
        <p>Password (Password must contain an alphabet, special character, number and length must be greater than 5)</p>
    </div>
    <div class="col-12 my-3" >
        <p *ngIf="registerStatus == true" class="text-success ps-3">User created successfully</p>
        <p *ngIf="registerStatus == false" class="text-danger ps-3">Something went wrong</p>
    </div>
</div>
<div class="row">
    <div *ngIf="isClientAdded && quote" class="text-success">
        <div class="my-5">Client added successfully</div>
    </div>
</div>