<div class="container my-5 mb-5" *ngIf="quotes">
    <div class="mb-5 pt-4">
        <h2>All Quotes</h2>
    </div>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8 mb-5">
        <table mat-table [dataSource]="dataSource" matSort>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let x = index" ></tr>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
    
            <!-- Date Column -->
            <ng-container matColumnDef="date_new">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date_new}}</td>
            </ng-container>
    
            <!-- Shipping Cost Column -->
            <ng-container matColumnDef="shipping_cost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipping Cost </th>
                <td mat-cell *matCellDef="let row"> {{row.shipping_cost}} </td>
            </ng-container>
    
            <!-- Grand Total Column -->
            <ng-container matColumnDef="grand_total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Grand Total </th>
                <td mat-cell *matCellDef="let row"> {{row.grand_total}} </td>
            </ng-container>
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row; let i =index;" > 
                    <span (click)="viewPdf(row.id)" class="badge rounded-pill bg-success">View PDF</span> |
                    <span (click)="editQuote(row.id)" class="badge rounded-pill bg-warning text-dark">Edit</span> |
                    <span (click)="deleteQuote(row, i + (paginator.pageIndex*paginator.pageSize) )" class="badge rounded-pill bg-danger">Delete</span> 
                </td>
            </ng-container>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
            
        </table>
    
        <mat-paginator #paginatorPageSize  [pageSizeOptions]="pageSizes" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
    </div>
</div>
<div class="w-100 bg-white display-1 d-flex align-items-center justify-content-center flex-column" style="height: 50vh;"  *ngIf="!quotes">
    <div><i class="fa-light fa-spinner-third fa-spin"></i></div>
    <div class="display-6 mt-5">Loading Quotes...</div>
</div>