<div class="row">
    <div class="col-lg-3">
        <input type="number" class="form-control" [(ngModel)] = 'unitQuote.unitPrice'>
    </div>
    <div class="col-lg-3">
        <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)] = 'unitQuote.quantity'>
    </div>
    <div class="col-lg-3">
        <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)] = 'unitQuote.amount'>
    </div>
    <div class="col-lg-3">
        <input type="number" class="form-control" id="exampleFormControlInput1" [(ngModel)] = 'unitQuote.leadTime'>
    </div>
</div>