<div class="row mt-5">
    <div class="col-lg-3">
        <div class="card bg-primary bg-gradient">
            <div class="card-body" routerLink="/quotes" role="button">
                <h5 class="card-title">Total Quotes</h5>
                <div class="display-3 mt-4">
                {{ quotes.length }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-success bg-gradient">
            <div class="card-body" routerLink="/user-list" role="button">
                <h5 class="card-title">Users</h5>
                <div class="display-3 mt-4">
                    {{ users.length }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-info bg-gradient">
            <div class="card-body">
                <h5 class="card-title">Today's Quotes</h5>
                <div class="display-3 mt-4">
                    {{ todayQuotes.length }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-warning bg-gradient">
            <div class="card-body" routerLink="/enquiries" role="button">
                <h5 class="card-title">Online Enquiries</h5>
                <div class="display-3 mt-4">
                    {{ enquiries.length }}
                </div>
            </div>
        </div>
    </div>

</div>