<div class="container mt-4 bg-gray-200 py-4 position-relative"> 
    <div class="row">
        <div class="col-lg-2">
            <br>
        </div>
        <div class="col-lg-2">
            <br>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <h4 class="">Unit Price <span class="fs-6">(in RMB)</span></h4>
                    <p>单价（人民币）</p>
                </div>
                <div class="col-lg-3 text-center">
                    <h4 class="">Quantity</h4>
                    <p>数量</p>
                </div>
                <div class="col-lg-3 text-center">
                    <h4 class="text-center">Amount <span class="fs-6">(in RMB)</span></h4>
                    <p>金额（人民币）</p>
                </div>
                <div class="col-lg-3 text-center">
                    <h4 class="text-center">Lead Time <span class="fs-6">(in days)</span></h4>
                    <p>交货时间（以天为单位）</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-2 text-center">
            <img class="w-100"
                src="{{this.rootService.getBucketUrl()+this.quoteInfo.image_file}}"
                (error) ="changeSource($event)"
                alt="quote_image" style="width:150px!important">
                
                <div class=" pt-2" style="font-size: 12px;">X:{{quoteInfo.x_size | number : '1.2-2'}}mm, Y: {{quoteInfo.y_size | number : '1.2-2'}}mm, <br>Z: {{quoteInfo.z_size | number : '1.2-2'}}mm</div>
                <div class="text-center mt-2">
                    File Name:
                    <input type="text" (change)="updateQuoteInfo(quoteInfo)" class="form-control" placeholder="File Name" [(ngModel)] = 'quoteInfo.file_name' *ngIf="!authService.isVendor()">
                    <span *ngIf="authService.isVendor()"><strong></strong>{{quoteInfo.file_name}}</span>
                </div>
                <div class="text-center mt-2"><a href="{{this.rootService.getBucketUrl()+this.quoteInfo.uploded_file}}" style="font-size:11px;">Download STL file (下载)</a></div>
        </div>
        <div class="col-lg-2 " *ngIf="!authService.isVendor()">
            <input type="text" (change)="updateQuoteInfo(quoteInfo)" class="form-control" placeholder="Material" [(ngModel)] = 'quoteInfo.material_search'>
            <input type="text" (change)="updateQuoteInfo(quoteInfo)" class="form-control mt-2" placeholder="Technique" [(ngModel)] = 'quoteInfo.technique'>
            <input type="text" (change)="updateQuoteInfo(quoteInfo)" class="form-control mt-2" placeholder="Finishing" [(ngModel)] = 'quoteInfo.finishing'>
            <input type="text" (change)="updateQuoteInfo(quoteInfo)" class="form-control mt-2" placeholder="Color" [(ngModel)] = 'quoteInfo.color'>
        </div>
        <div class="col-lg-2 " *ngIf="authService.isVendor()">
            Material (材料): <span class="form-control vendor-form-control">{{quoteInfo.material_search}}</span>
            Technique (技术): <span class="form-control vendor-form-control">{{quoteInfo.technique}}</span>
            Finishing (精加工): <span class="form-control vendor-form-control">{{quoteInfo.finishing}}</span>
            Color (颜色): <span class="form-control vendor-form-control">{{quoteInfo.color}}</span>
        </div>
        <div class="col-lg-8">
            <div class="position-relative" *ngFor="let unitQuote of quoteInfo.unit_quotes; let i = index" >
                <app-unit-quote [unitQuote]='unitQuote'></app-unit-quote>
                <div class="position-absolute end-0 top-0" role="button" *ngIf="quoteInfo.unit_quotes.length > 1 && !authService.isVendor()" (click) = 'removeUnitQuote(unitQuote, i)'>
                    <span class="badge rounded-pill bg-danger"> x </span>
                </div>
            </div>
            <div class="row mt-2" *ngIf="!authService.isVendor()">
                <div class="col-lg-3 offset-lg-9">
                    <app-button [text]="addRowButtonText" (click) = 'addUnitQuote()'></app-button>
                </div>
            </div>
        </div>
    </div>
</div>